<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)= "onToggleOpenSidenav()">
            <mat-icon>
                <span class="material-icons">menu</span>
            </mat-icon>
        </button>
    </div>
    <div>
        <!-- <img src="assets/images/theahotel_logo.png" alt="">
        <mat-grid-list cols="2" rowHeight="2:2">
            <mat-grid-tile>
                <img src="assets/images/theahotel_logo.png" alt="">
            </mat-grid-tile>
        </mat-grid-list> -->
    </div>
      
</mat-toolbar>

