.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-sidenav-container,
  mat-sidenav-content,
  mat-sidenav{
    height: 100%;
  }

  mat-sidenav{
    width: 250px;
  }