.img-container {
  height: 50%;
  width: 100%;
  /* background: url(/assets/images/hcover2.jpg) no-repeat; */
}

.foodtext {
  text-align: right;
  font-family: "Pacifico", serif;
  font-size: 70px;
  text-shadow: 4px 4px 4px #aaa;
}
.accomodation {
  text-align: left;
  font-family: "Pacifico", serif;
  font-size: 70px;
  text-shadow: 4px 4px 4px #aaa;
}

@media screen and (max-width: 768px) {
  .img-container {
    /* height: 100vh; */
    width: 100%;
  }
  .foodtext {
    font-size: 30px;
  }

  .accomodation {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .img-container {
    /* height: 100vh; */
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .img-container {
    /* height: 100vh; */
    width: 100%;
  }
}
